* {
    background-color: rgb(240, 242, 245);
    padding: 0;
    margin: 0;
}

.container {
    padding: 60px;
}

.flex {
    background-color: rgb(240, 242, 245);
    align-items: center;
    justify-content: end;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0px 0px;
}

h1 {
    padding-left: 30px;
}

.box0 {
    background-color: rgb(240, 242, 245);
    box-sizing: border-box;
    width: 5%;
    margin-bottom: 0px 20px;
    padding: 0px 10px;
}

.box1 {
    background-color: rgb(240, 242, 245);
    box-sizing: border-box;
    width: 45%;
    margin-bottom: 0px 20px;
    padding: 0px 10px;
}

.box2 {
    background-color: rgb(240, 242, 245);
    box-sizing: border-box;
    width: 45%;
    margin-bottom: 0px 20px;
    padding: 0px 10px;
}

.box3{
    background-color: rgb(240, 242, 245);
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 0px 20px;
    padding: 0px 10px;
}

.create-page {
    margin-left: 60px;
    text-align: left;

    direction: ltr;
    line-height: 1.34;
    -webkit-font-smoothing: subpixel-antialiased;
    border-top: none;
    color: #1c1e21;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;

}

.content {
    padding: 0px 0px;
    margin: 20px;
}

img {
    display: inline-block;
    padding: 0;
    margin: 0;
}

input[type=text] {
    background-color: white;
    border-radius: 5px;
    width: 100%;
    padding: 12px 30px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  input {
    border: 1px solid #EEEEEE;
    padding: 8px;
    font-size: 1.2em;
    width: 100%;
  }
  
  input::placeholder {
    color: rgb(165, 165, 165);
  }
  label, input {
    font-family: sans-serif;
  }

.login {
    display: block;
    text-align: center;
    padding: 20px;
    margin-top: 100px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
    width: 350px;
    font-weight: bold;
}
.fb-submit {
    display: block;
    text-align: center;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 22px;
    line-height: 32px;
    padding: 8px;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-weight: normal;
}
.fb-forgot {
    background-color: white;
    display: block;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    color: #1c1e21;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-weight: normal;
}

.fb-register {
    display: block;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    background-color: rgba(65,183,42,255);
    text-decoration: none;
    color: white;
    padding: 15px;
    border: none;
    width: 150px;
    margin: auto;
    border-radius: 6px;

    direction: ltr;
    line-height: 1.34;
    -webkit-font-smoothing: subpixel-antialiased;
    margin-top: 28px;
    text-align: center;
    font-weight: bold;
    color:white;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: normal;

}

hr {
    margin-bottom: 20px;
    border: 1px solid #EEEEEE;
}

.fb-title {
    direction: ltr;
    -webkit-font-smoothing: subpixel-antialiased;
    letter-spacing: normal;
    text-rendering: optimizelegibility;
    color: #1c1e21;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 30px;

}

footer {
    padding-top: 30px;
    padding-left: 30px;
    margin-top: 100px;
    height: 100px;
    background-color:white;
    margin-bottom: auto;
    color:#5c5c5c;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
}

@media only screen and (max-width: 1000px)
{
    .flex {
        align-items: start;
        justify-content: start;
        flex-direction: column;
        display: flex;
        box-sizing: border-box;
        margin: -70px 0px;
    }

    .box0 {
        width: 100%;
    }
    
    .box1 {
        width: 100%;
    }
    
    .box2 {
        width: 100%;
    }

    .login {
        margin: auto;
    }

    .content {
        margin: auto;
        padding: 0px 0px;
        margin: 10px;
    }

    hr {
        margin-bottom: 20px;
    }
    
    .create-page {
        text-align: center;
        margin-left: 0;
        margin-top: 20px;
    }


}

